<main class="container login-form">
  <section class="sign-in-form">
    <body class="backg">

      <%=form_tag(session_create_path) do%>
        <h1 class="sign-in-title">Log In</h1>

          <div class="form-group">
            <%=label_tag :email %>
            <%=email_field_tag :email %>
          </div>

          <div class="form-group">
            <%=label_tag :password %>
            <%=password_field_tag :password %>
          </div>

          <!-- <div class="form-group">
            <%#= check_box_tag 'remember_me'%>    Remember Me
          </div> -->
          <!-- <p class="forgot-password"><%= link_to 'Forgot Password?', new_user_path %></p> -->

        <%=submit_tag "Log In", class: "login-button" %>

      <% end %>
      <br />
      <br />
      <p class="sign-up"><%= link_to 'Sign Up', new_user_path %></p>
    </section>
  </body>
</main>
