<main class="container login-form">
  <section class="sign-in-form">
    <body class="backg">

      <%=form_tag(session_create_path) do%>
        <h1 class="sign-in-title">Sign into your account</h1>
          <div class="form-group">
            <%=label_tag :email %>
            <%=email_field_tag :email %>
          </div>

          <div class="form-group">
            <%=label_tag :password %>
            <%=password_field_tag :password %>
          </div>

        <%=submit_tag "Log In", class: "login-button" %>

      <% end %>
      <br />
      <br />
      <p class="sign-up"><%= link_to 'Sign Up', new_user_path %></p>
    </section>
  </body>
</main>
