<div class="row">
  <div class="col-md-3">
    <% if crop.crop_pic.present? %>
      <%= image_tag crop.crop_pic.url %>
    <% else%>
      <%= image_tag asset_url ("crop-default-image.png") %>
    <% end %>
  </div>
  <div class="col-md-9">
    <div>
      <h3><%=crop.crop_type.crop_type%></h3>
      <div class="crop-description"> <%= crop.description %></div>
      <div class="details"> Amount: <%= crop.weight %> lbs</div>
      <div>
        <% if crop.is_ripe? %>
          <em class="ripe"> RIPE NOW! </em><br>
        <% else %>
          <em>Ripe in <%= distance_of_time_in_words_to_now(crop.ripe_on) %></em><br>
        <% end %>
        <% if crop.about_to_expire?  %>
          <em class="expire">Expires in <%= distance_of_time_in_words_to_now(crop.expires_on) %></em><br><br>
        <% else %>
          <em>Expires in <%= distance_of_time_in_words_to_now(crop.expires_on) %></em><br><br>
        <% end %>
      </div>
    </div>
  </div>
</div>
