<p id="notice"><%= notice %></p>

<div class="container">

  <div class="row">
    <div class="col-md-3">
      <% if @user.profile_pic.blank? %>
        <%= image_tag asset_url ("default-image.png") %>
      <% else%>
        <%= image_tag @user.profile_pic.url %>
      <% end %>
    </div>
    <div class="col-md-9">
      <h3><%= @user.name %></h3>
      <p><%= @user.zip_code %><br>
      <em>Joined on <%=@user.created_at.strftime("%b %d %Y")%></em></p>
      <p><%= @user.description %></p>
    </div>
  </div>

  <% @user.crops.each do |crop| %>
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-5 panel panel-default">
        <dl>
          <dt class="crop_name panel-heading"><%=crop.crop_type.crop_type%></dt>
          <em>Posted on <%=crop.created_at.strftime("%b %d %Y")%></em>
          <dd class="details panel-body"> <%= crop.description %></dd>
          <dd class="details panel-body">Amount: <%= crop.weight %> lbs</dd>
              <% crop.trades.each do |t| %>
                <% if t.accepted != true && t.accepted != false %>
                  <h3> Pending Trades </h3>
                    <p>I would like to swap for: <strong><%= t.trade_type.name %></strong></p>
                    <p><%= t.message %></p>
                    <% if t.crop_pic.blank? %>
                      <%= image_tag asset_url ("crop-default-image.png") %>
                    <% else%>
                      <%= image_tag t.crop_pic.url  %>
                    <% end %>
                    <button type="button" class="btn btn-success">
                      <%=link_to 'Accept Trade', edit_trade_path(accepted: true)%>
                    </button>
                    <button type="button" class="btn btn-success">
                      <%=link_to 'Reject Trade', edit_trade_path(accepted: false)%>
                    </button>
                <% elsif t.accepted == true %>
                  <h3> Accepted Trades </h3>
                <% else t.accepted == false %>
                  <h3> Rejected Trades </h3>
                <% end %>
              <% end %>
        </dl>
      </div>
      <div class="col-md-4">
        <dl>
          <% if crop.crop_pic.blank? %>
            <dt class="crop_name panel-body"><%= image_tag asset_url("crop-default-image.png") %></dt>
          <% else %>
            <dt class="crop_name panel-body"><%= image_tag crop.crop_pic.url %></dt>
          <% end %>
        </dl>
      </div>
    </div>
  <% end %>

</div>
