<p id="notice"><%= notice %></p>

<div class="container">

  <div class="row">
    <div class="col-md-3">
      <% if @user.profile_pic.blank? %>
        <%= image_tag asset_url ("default-image.png") %>
      <% else%>
        <%= image_tag @user.profile_pic.url %>
      <% end %>
      <h3><%= @user.name %></h3>
      <p><%= @user.zip_code %><br>
      <em>Joined on <%=@user.created_at.strftime("%b %d %Y")%></em></p>
      <p><%= @user.description %></p>
      <p><%= link_to 'Swap History', trades_path%></p>
    </div>
    <div class="col-md-9">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#my-swap-crops" aria-controls="my-swap-crops" role="tab" data-toggle="tab">Pending Swap Crops</a></li>
        <li role="presentation"><a href="#my-crops" aria-controls="my-crops" role="tab" data-toggle="tab">Other Crops</a></li>
        <li role="presentation"><a href="#my-swaps" aria-controls="my-swaps" role="tab" data-toggle="tab">Proposed Swaps</a></li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="my-swap-crops">
          <%#if some method i still have to write on the user %>
            <!-- <h4> FIRST TAB: You do not have any active crops.</h4> -->
            <!-- <button type="button" class="btn btn-warning"> -->
              <%#=link_to 'View Swap History', trades_path%>
            <!-- </button> -->
          <%# else %>
            <% @user.crops.each do |crop| %>
              <% trades = crop.trades.pending %>
              <% unless trades.blank? %>
                <div class="crop-item">
                  <div class="row">
                    <div class="col-md-3">
                      <% if crop.crop_pic.blank? %>
                        <div class="crop_name panel-body"><%= image_tag asset_url("crop-default-image.png") %></div>
                      <% else %>
                        <div class="crop_name panel-body"><%= image_tag crop.crop_pic.url %></div>
                      <% end %>
                    </div>
                    <div class="col-md-9">
                      <div>
                        <h3><%=crop.crop_type.crop_type%></h3>
                        <div class="crop-description"> <%= crop.description %></div>
                        <div class="details"> Amount: <%= crop.weight %> lbs</div>
                        <div>
                          <% if crop.is_ripe? %>
                            <em class="ripe"> RIPE NOW! </em><br>
                          <% else %>
                            <em>Ripe in <%= distance_of_time_in_words_to_now(crop.ripe_on) %></em><br>
                          <% end %>
                          <% if crop.about_to_expire?  %>
                            <em class="expire">Expires in <%= distance_of_time_in_words_to_now(crop.expires_on) %></em><br><br>
                          <% else %>
                            <em>Expires in <%= distance_of_time_in_words_to_now(crop.expires_on) %></em><br><br>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% trades.each do |t| %>
                    <div class="row trades">
                      <div class="col-md-2">
                      </div>
                      <div class="col-md-1">
                        <% if t.trade_type_id == 1 %>
                          <span class="glyphicon glyphicon-apple proposed-swap-type" aria-hidden="true"></span>
                        <% elsif t.trade_type_id == 2%>
                          <span class="glyphicon glyphicon-time proposed-swap-type" aria-hidden="true"></span>
                        <% else%>
                          <span class="glyphicon glyphicon-leaf proposed-swap-type" aria-hidden="true"></span>
                        <% end %>
                      </div>
                      <div class="col-md-4 trades">
                        <p><%=t.consumer.name %> would like to swap for <%= t.trade_type.name %></p>
                        <p>Message: <%= t.message %></p>
                      </div>
                      <div class="col-md-4">
                        <button type="button" class="btn btn-success">
                          <%=link_to 'Accept Swap', edit_trade_path(accepted: true)%>
                        </button>
                        <button type="button" class="btn btn-warning">
                          <%=link_to 'Reject Swap', edit_trade_path(accepted: false)%>
                        </button>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            <%# end %>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="my-crops">
          <%# if some method I still have to write %>
          <%#else%>
          <% @user.crops.each do |crop| %>
            <% if crop.trades.blank? %>
              <div class="crop-item">
                <div class="row">
                  <div class="col-md-3">
                    <% if crop.crop_pic.blank? %>
                      <div class="crop_name panel-body"><%= image_tag asset_url("crop-default-image.png") %></div>
                    <% else %>
                      <div class="crop_name panel-body"><%= image_tag crop.crop_pic.url %></div>
                    <% end %>
                  </div>
                  <div class="col-md-9">
                    <div>
                      <h3><%=crop.crop_type.crop_type%></h3>
                      <div class="crop-description"> <%= crop.description %></div>
                      <div class="details"> Amount: <%= crop.weight %> lbs</div>
                      <% if crop.is_ripe? %>
                        <em class="ripe"> RIPE NOW! </em><br>
                      <% else %>
                        <em>Ripe in <%= distance_of_time_in_words_to_now(crop.ripe_on) %></em><br>
                      <% end %>
                      <% if crop.about_to_expire?  %>
                        <em class="expire">Expires in <%= distance_of_time_in_words_to_now(crop.expires_on) %></em><br><br>
                      <% else %>
                        <em>Expires in <%= distance_of_time_in_words_to_now(crop.expires_on) %></em><br><br>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
          <%#end%>
        </div>

        <div role="tabpanel" class="tab-pane" id="my-swaps">
          <% if @user.trades.blank? %>
            <br>
            <h4>You do not have any pending swaps on other grower's crops.</h4>
            <button type="button" class="btn btn-warning">
              <%=link_to 'Browse Crops', crops_path%>
            </button>
          <% else %>
            <% @user.trades.each do |trade| %>
              <div class="crop-item">
                <div class="row">
                  <div class="col-md-3">
                    <% if trade.crop.crop_pic.blank? %>
                      <div class="crop_name panel-body"><%= image_tag asset_url("crop-default-image.png") %></div>
                    <% else %>
                      <div class="crop_name panel-body"><%= image_tag trade.crop.crop_pic.url %></div>
                    <% end %>
                  </div>
                  <div class="col-md-9">
                    <h3><%=trade.crop.crop_type.crop_type%></h3>
                    <div class="crop-description">
                      <%= trade.crop.description %>
                    </div>
                    <div class="details">
                      Amount: <%= trade.crop.weight %> lbs
                    </div>
                    <% if trade.crop.is_ripe? %>
                      <em class="ripe"> RIPE NOW! </em><br>
                    <% else %>
                      <em>Ripe in <%= distance_of_time_in_words_to_now(trade.crop.ripe_on) %></em><br>
                    <% end %>
                    <% if trade.crop.about_to_expire?  %>
                      <em class="expire">Expires in: <%= distance_of_time_in_words_to_now(trade.crop.expires_on) %></em><br><br>
                    <% else %>
                      <em>Expires in <%= distance_of_time_in_words_to_now(trade.crop.expires_on) %></em><br><br>
                    <% end %>
                  </div>
                </div>
                <div class="row trades">
                  <div class="col-md-2">
                  </div>
                  <div class="col-md-5 trades">
                    <h4> Pending Swaps </h4>
                    <p><%=trade.consumer.name %> would like to swap for <strong><%= trade.trade_type.name %></strong></p>
                    <p>Message: <%= trade.message %></p>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
