<p id="notice"><%= notice %></p>

<div class="container">

  <div class="row">
    <div class="col-md-3">
      <% if @user.profile_pic.blank? %>
        <%= image_tag asset_url ("default-image.png") %>
      <% else%>
        <%= image_tag @user.profile_pic.url %>
      <% end %>
      <h3><%= @user.name %></h3>
      <p><%= @user.zip_code %><br>
      <em>Joined on <%=@user.created_at.strftime("%b %d %Y")%></em></p>
      <p><%= @user.description %></p>
      <p><%= link_to 'Trade History', trades_path%></p>
    </div>
    <div class="col-md-9">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#my-swap-crops" aria-controls="home" role="tab" data-toggle="tab">Pending Swap Crops</a></li>
        <li role="presentation"><a href="#my-crops" aria-controls="profile" role="tab" data-toggle="tab">No Swap Crops</a></li>
        <li role="presentation"><a href="#my-swaps" aria-controls="messages" role="tab" data-toggle="tab">All Crops</a></li>
      </ul>
      <div id="my-swap-crops">
        <% @user.crops.each do |crop| %>
          <% if crop.trades.blank? == false %>
            <div class="crop-item">
              <div class="row">
                <div class="col-md-3">
                  <% if crop.crop_pic.blank? %>
                    <div class="crop_name panel-body"><%= image_tag asset_url("crop-default-image.png") %></div>
                  <% else %>
                    <div class="crop_name panel-body"><%= image_tag crop.crop_pic.url %></div>
                  <% end %>
                </div>
                <div class="col-md-9">
                  <div>
                    <h3><%=crop.crop_type.crop_type%></h3>
                    <div class="crop-description"> <%= crop.description %></div>
                    <div class="details"> Amount: <%= crop.weight %> lbs</div>
                    <div>
                      <% if crop.about_to_expire? %>
                        <p class="expire"> ABOUT TO EXPIRE! </p>
                      <% elsif crop.is_ripe? %>
                        <p class="ripe"> RIPE NOW! </p>
                      <% end %>
                    </div>
                    <em>Ripe On: <%= crop.ripe_on %></em><br>
                    <em>Expires On: <%= crop.expires_on %></em><br><br>
                  </div>
                </div>
              </div>
              <div class="row trades">
                <% crop.trades.each do |t| %>
                  <div class="col-md-8">
                    <h4> Pending Trades </h4>
                    <p><%=t.consumer.name %> would like to swap for <strong><%#= t.trade_type.name %></strong></p>
                    <p>Message: <%= t.message %></p>
                    <% if t.crop_pic.blank? == false %>
                      <%= image_tag t.crop_pic.url  %>
                    <% end %>
                  </div>
                  <div class="col-md-4">
                    <button type="button" class="btn btn-success">
                      <%=link_to 'Accept Swap', edit_trade_path(accepted: true)%>
                    </button>
                    <button type="button" class="btn btn-success">
                      <%=link_to 'Reject Swap', edit_trade_path(accepted: false)%>
                    </button>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
