<div class="container">
  <div class="row">
    <div class="col-md-3">
      <% if @user.profile_pic.blank? %>
        <%= image_tag asset_url ("default-image.png") %>
      <% else%>
        <%= image_tag @user.profile_pic.url %>
      <% end %>
      <h3><%= @user.name %></h3>
      <p><%= @user.zip_code %><br>
      <em>Joined on <%=@user.created_at.strftime("%b %d %Y")%></em></p>
      <p><%= @user.description %></p>
      <p><%= link_to 'Swap History', trades_path%></p>
    </div>
    <div class="col-md-9">
      <ul class="nav nav-tabs"role="tablist">
        <li role="presentation" class="active"><a href="#my-swap-crops" aria-controls="my-swap-crops" role="tab" data-toggle="tab">Pending Swaps</a></li>
        <li role="presentation"><a href="#my-crops" aria-controls="my-crops" role="tab" data-toggle="tab">Other Crops</a></li>
        <li role="presentation"><a href="#my-swaps" aria-controls="my-swaps" role="tab" data-toggle="tab">Proposed Swaps</a></li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="my-swap-crops">
          <%if @user.has_crop_with_pending_trade? %>
            <% @user.crops.each do |crop| %>
              <% trades = crop.trades.pending %>
              <% unless trades.blank? %>
                <div class="crop-item">
                  <%= render partial: 'crop', locals: { crop: crop } %>
                  <% trades.each do |t| %>
                    <%= render partial: 'trade', locals: { t: t } %>
                      <div class="col-md-4">
                        <button type="button" class="btn btn-success">
                          <%=link_to 'Accept Swap', edit_trade_path(t, accepted: true)%>
                        </button>
                        <button type="button" class="btn btn-warning">
                          <%=link_to 'Reject Swap', edit_trade_path(t, accepted: false)%>
                        </button>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          <% else %>
            <div class="empty-state">
              <br>
              <h4> You do not have any active crops with pending swaps.</h4>
              <button type="button" class="btn btn-warning">
                <%=link_to 'View Swap History', trades_path%>
              </button>
            </div>
          <% end %>
        </div>

        <div role="tabpanel" class="tab-pane" id="my-crops">
          <% if @user.has_crop_without_pending_trade? %>
            <% @user.crops.each do |crop| %>
              <% if crop.trades.blank? %>
                <div class="crop-item">
                  <%= render partial: 'crop', locals: { crop: crop } %>
                </div>
              <% end %>
            <% end %>
          <%else%>
            <div class="empty-state">
              <br>
              <h4> You do not have any active crops without pending swaps.</h4>
              <button type="button" class="btn btn-warning">
                <%=link_to 'View Swap History', trades_path%>
              </button>
            </div>
          <%end%>
        </div>

        <div role="tabpanel" class="tab-pane" id="my-swaps">
          <% if @user.trades.blank? %>
            <div class="empty-state">
              <br>
              <h4>You do not have any pending swaps on other grower's crops.</h4>
              <button type="button" class="btn btn-warning">
                <%=link_to 'Browse Crops', crops_path%>
              </button>
            </div>
          <% else %>
            <% @user.trades.each do |t| %>
              <div class="crop-item">
                <div class="row">
                  <div class="col-md-3">
                    <% if t.crop.crop_pic.blank? %>
                      <div class="crop_name panel-body"><%= image_tag asset_url("crop-default-image.png") %></div>
                    <% else %>
                      <div class="crop_name panel-body"><%= image_tag t.crop.crop_pic.url %></div>
                    <% end %>
                  </div>
                  <div class="col-md-9">
                    <h3><%=t.crop.crop_type.crop_type%></h3>
                    <div class="crop-description">
                      <%= t.crop.description %>
                    </div>
                    <div class="details">
                      Amount: <%= t.crop.weight %> lbs
                    </div>
                    <% if t.crop.is_ripe? %>
                      <em class="ripe"> RIPE NOW! </em><br>
                    <% else %>
                      <em>Ripe in <%= distance_of_time_in_words_to_now(t.crop.ripe_on) %></em><br>
                    <% end %>
                    <% if t.crop.about_to_expire?  %>
                      <em class="expire">Expires in: <%= distance_of_time_in_words_to_now(t.crop.expires_on) %></em><br><br>
                    <% else %>
                      <em>Expires in <%= distance_of_time_in_words_to_now(t.crop.expires_on) %></em><br><br>
                    <% end %>
                  </div>
                </div>
                  <%= render partial: 'trade', locals: { t: t } %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
