<p id="notice"><%= notice %></p>

<div class="container">

  <div class="row">
    <div class="col-md-3">
      <% if @user.profile_pic.blank? %>
        <%= image_tag asset_url ("default-image.png") %>
      <% else%>
        <%= image_tag @user.profile_pic.url %>
      <% end %>
      <h3><%= @user.name %></h3>
      <p><%= @user.zip_code %><br>
      <em>Joined on <%=@user.created_at.strftime("%b %d %Y")%></em></p>
      <p><%= @user.description %></p>
    </div>
    <div class="col-md-9">
      <% if @user.crops.blank? == false %>
        <% @user.crops.each do |crop| %>
          <div class="crop-item">
            <div class="row">
              <div class="col-md-3">
                <% if crop.crop_pic.blank? %>
                  <div class="crop_name panel-body"><%= image_tag asset_url("crop-default-image.png") %></div>
                <% else %>
                  <div class="crop_name panel-body"><%= image_tag crop.crop_pic.url %></div>
                <% end %>
              </div>
              <div class="col-md-9">
                <div>
                  <h3><%=crop.crop_type.crop_type%></h3>
                  <div class="crop-description"> <%= crop.description %></div>
                  <div class="details"> Amount: <%= crop.weight %> lbs</div><br>
                  <div>
                    <% if crop.about_to_expire? %>
                      <p class="expire"> ABOUT TO EXPIRE! </p>
                    <% elsif crop.is_ripe? %>
                      <p class="ripe"> RIPE NOW! </p>
                    <% end %>
                  </div>
                  <em>Ripe On: <%= crop.ripe_on %></em><br>
                  <em>Expires On: <%= crop.expires_on %></em><br><br>
                  <p>This crop can be swapped for:
                    <% crop.trade_types.each do |tt| %>
                      <% if tt.id == 1 %>
                        <span class="glyphicon glyphicon-apple" aria-hidden="true"></span>
                      <% elsif tt.id == 2%>
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                      <% else%>
                        <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
                      <% end %>
                      <%= tt.name%>
                    <% end %>
                    <p>
                </div>
              </div>
            </div>
            <div class="row trades">
              <% if crop.trades.empty? %>
                <div class="col-md-8">
                </div>
                <div class="col-md-4">
                  <button type="button" class="btn btn-success">
                    <%=link_to 'Propose Swap', new_trade_path(crop_id: crop.id,
                      consumer_id: @current_user.id, grower_id: crop.user_id) %>
                  </button>
                  <br>
                  <br>
                </div>
              <% else %>
                <div class="col-md-8">
                </div>
                <div class="col-md-4">
                  <button type="button" class="btn btn-success">
                    <%=link_to 'Edit Swap', trades_path %>
                  </button>
                  <br>
                  <br>
                </div>
              <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <br>
      <h4> This user does not current have any crops to swap.</h4>
      <button type="button" class="btn btn-warning">
        <%=link_to 'Browse Crops', crops_path%>
      </button>
    <%end%>
  </div>
</div>
