<p id="notice"><%= notice %></p>

<div class="container">

  <div class="row">
    <div class="col-md-3">
      <%= @user.profile_pic %>
    </div>
    <div class="col-md-9">
      <h3><%= @user.name %></h3>
      <p><%= @user.zip_code %>Durham, NC<br>
      <em>Joined two months ago</em></p>
      <p><%= @user.description %></p>
    </div>
  </div>

<% @user.crops.each do |crop| %>
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-5 panel panel-default">
      <dl>
        <dt class="crop_name panel-heading"><%=crop.crop_type_id%></dt>
        <em>Posted two days ago</em>
        <dd class="details panel-body"> <%= crop.description %></dd>
        <dd class="details panel-body">Amount: <%= crop.weight %></dd>
        <div class="trade_types panel-body">
          <label class="radio-inline">
            <input type="radio" name="trade_type1" id="inlineRadio1" value="option1"> <span class="glyphicon glyphicon-time" aria-hidden="true"></span>Time
          </label>
          <label class="radio-inline">
            <input type="radio" name="trade_type1" id="inlineRadio2" value="option2"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span>Labor
          </label>
          <label class="radio-inline">
            <input type="radio" name="trade_type1" id="inlineRadio3" value="option3"> <span class="glyphicon glyphicon-apple" aria-hidden="true"></span>Crops
          </label>
        </div>
        <button type="button" class="btn btn-success">Propose Trade</button>
      </dl>
    </div>
    <div class="col-md-4">
      <dl>
        <dt class="crop_name panel-body"><%= image_tag crop.crop_pic %></dt>
      </dl>
    </div>
  </div>
<% end %>

</div>
