<div class="col-sm-3">
  <div class="card">
    <%= render partial: 'image', locals: { crop: crop } %>
    <div class="card-block">
      <h4 class="card-title">
        <%= crop.crop_type.crop_type %>
      </h4>
      <%= render partial: 'wishlist', locals: { crop: crop } %>
      <%= render partial: 'metadata', locals: { crop: crop } %>
    </div>
    <button type="button" class="btn btn-success">
      <%= link_to 'View Crop', crop.user %>
    </button>
  </div>
</div>
