  <div class="container browse-crops">
      <br>
      <div class="jumbotron">
        <div class="header text-center">Post An Excess Crop</div>
        <p class="text-center">Ditch the supermarket and browse excess crops in your area. </p>
      </div>

    <%= form_for @crop  do |f| %>
      <% if @crop.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@crop.errors.count, "error") %> prohibited this crop from being saved:</h2>
            <ul>
              <% @crop.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
        </div>
      <% end %>

      <%= f.hidden_field :user_id %>

      <div class="row crop-form-label">
        <div class="form-group crop-type">
          <%= f.label :crop_type_id, "Crop Type:", class: "col-md-4 control-label" %>
          <div class="col-md-8">
            <%= f.collection_select :crop_type_id, CropType.all, :id, :crop_type, class: "form-control crop-select" %>
          </div>
        </div>
      </div>

      <div class="row crop-form-label">
        <div class="form-group crop-description">
          <%= f.label :description, "Description:", class: "col-md-4 control-label" %>
          <div class="col-md-8">
            <%= f.text_area :description, class: "crop-description form-control" %>
          </div>
        </div>
      </div>

      <div class="row crop-form-label">
        <div class="form-group crop-pic">
          <%= f.label :crop_pic, "Crop Pic:", class: "col-md-4 control-label crop-pic"%> <br>
          <%= f.file_field :crop_pic %>
        </div>
      </div>

      <div class="row crop-form-label">
        <div class="form-group crop-weight">
          <%= f.label :weight, "Weight:", class: "col-md-4 control-label" %>
          <div class="col-md-8">
            <%= f.number_field :weight, class: "crop-weight form-control" %>
          </div>
        </div>
      </div>

        <div class="row crop-form-label">
          <div class="form-group crop-ripe">
            <%= f.label :ripe_on, "Ripe On:", class: "col-md-4 crop-ripe-on"%> <br>
            <%= f.date_field :ripe_on %>
          </div>
        </div>

        <div class="row crop-form-label">
          <div class="form-group crop-expires">
            <%= f.label :expires_on, "Expires On:", class: "col-md-4"%> <br>
            <%= f.date_field :expires_on %>
          </div>
        </div>

        <div class="row crop-form-label">
          <h4 class="post-crop-title">What are you willing to swap?</h4>
        </div>
        <div class="row">
          <% TradeType.all.each do |t| %>
            <div class="col-md-3">
              <div class="form-group crop-types">
                <%= check_box_tag 'trade_types[]', t.id, @crop.trade_types.include?(t) %>
                <% if t.id == 1 %>
                  <%= t.name %> <span class="glyphicon glyphicon-apple" aria-hidden="true"></span>
                <% elsif t.id == 2 %>
                  <%= t.name %> <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                <% else%>
                  <%= t.name %> <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        </div>

        <span class="crop-form-label"><%= f.submit "Post A Crop", class: "crop-button" %></span>


      <% end %>

  </div>
