<% if crop.is_ripe? %>
  <h6 class="ripe"> RIPE NOW! </h6>
<% else %>
  <h6 class="card-subtitle text-muted">Ripe in <%= distance_of_time_in_words_to_now(crop.ripe_on) %></h6>
<% end %>
<% if crop.about_to_expire?  %>
  <h6 class="card-subtitle expire">Expires in <%= distance_of_time_in_words_to_now(crop.expires_on) %></h6>
<% else %>
  <h6 class="card-subtitle text-muted">Expires in <%= distance_of_time_in_words_to_now(crop.expires_on) %></h6>
<% end %>
<h6 class="card-subtitle text-muted">Posted <%= distance_of_time_in_words_to_now(crop.created_at) %> ago</h6>
<h6><%= crop.user.zip_code %></h6>
<p class="card-text"><%= crop.description %></p>
