<p id="notice"><%= notice %></p>

<div class="container browse-crops">
  <div class="jumbotron browse-jumbotron">
    <div class="header text-center">Browse for Local Crops</div>
    <p class="text-center">Ditch the supermarket and browse excess crops in your area. </p>
    <button type="button" class="btn btn-success center-block">
      <div><%=link_to 'Browse Crops Near You', map_path %></div>
    </button>
  </div>

  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-warning active">
      <input type="radio" name="options" id="option1" autocomplete="off" checked> Ripe Now
    </label>
    <label class="btn btn-warning">
      <input type="radio" name="options" id="option2" autocomplete="off"> Newest
    </label>
    <label class="btn btn-warning">
      <input type="radio" name="options" id="option3" autocomplete="off"> Near You
    </label>
  </div>

  <div>
    <div class="row">
      <% @crops.each do |crop| %>
        <div class="col-sm-3">
          <div class="card">
            <% if crop.crop_pic.blank? %>
              <%= image_tag asset_url ("crop-default-image.png") %>
            <% else%>
              <%= image_tag crop.crop_pic.url %>
            <% end %>
            <div class="card-block">
              <h4 class="card-title"><%= crop.crop_type.crop_type %> </h4>
              <% if crop.is_ripe? %>
                <h6 class="ripe"> RIPE NOW! </h6>
              <% else %>
                <h6 class="card-subtitle text-muted">Ripe in <%= distance_of_time_in_words_to_now(crop.ripe_on) %></h6>
              <% end %>
              <% if crop.about_to_expire?  %>
                <h6 class="card-subtitle expire">Expires in <%= distance_of_time_in_words_to_now(crop.expires_on) %></h6>
              <% else %>
                <h6 class="card-subtitle text-muted">Expires in <%= distance_of_time_in_words_to_now(crop.expires_on) %></h6>
              <% end %>
              <h6><%= crop.user.zip_code %></h6>
              <p class="card-text"><%= crop.description %></p>
            </div>
            <button type="button" class="btn btn-success">
              <div><%= link_to 'View Crop', crop.user %></div>
            </button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
