<p id="notice"><%= notice %></p>

<div class="container">
  <div class="jumbotron">
    <h1>Browse for Local Crops</h1>
    <p class="text-center">Ditch the supermarket and browse excess crops in your area. </p>
    <button type="button" class="btn btn-success center-block">
      <%=link_to 'Browse Crops Near You', map_path %>
    </button>
  </div>

  <div class="row">
    <% @crops.each do |crop| %>
      <div class="col-sm-3">
        <div class="card">
          <img class="card-img-top" style="width:210;height:210px;" data-src="holder.js/100%x180/"> <%= image_tag crop.crop_pic.url %></img>
          <h4 class="card-title"><%= crop.crop_type.crop_type %> </h4>
          <p class="card-text"><%= crop.description %></p>
          <% if crop.about_to_expire? %>
            <p> ABOUT TO EXPIRE! </p>
          <% elsif crop.is_ripe? %>
            <p> RIPE NOW! </p>
          <% end %>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Ripe On: <%= crop.ripe_on %></li>
          <li class="list-group-item">Expires On: <%= crop.expires_on %></li>
          <button type="button" class="btn btn-success">
            <%= link_to 'View Crop', crop %></td>
          </button>
        </ul>
      </div>
    <% end %>
  </div>
