<p id="notice"><%= notice %></p>

<div class="container browse-crops">
  <div class="jumbotron">
    <div class="header text-center">Browse for Local Crops</div>
    <p class="text-center">Ditch the supermarket and browse excess crops in your area. </p>
    <button type="button" class="btn btn-success center-block">
      <div><%=link_to 'Browse Crops Near You', map_path %></div>
    </button>
  </div>

  <div>
    <div class="row">
      <% @crops.each do |crop| %>
        <div class="col-sm-3">
          <div class="card">
            <% if crop.crop_pic.blank? %>
              <%= image_tag asset_url ("crop-default-image.png") %>
            <% else%>
              <%= image_tag crop.crop_pic.url %>
            <% end %>
            <div class="card-block">
              <h4 class="card-title"><%= crop.crop_type.crop_type %> </h4>
              <% if crop.is_ripe? %>
                <h6 class="ripe"> RIPE NOW! </h6>
              <% else %>
                <h6 class="card-subtitle text-muted">Ripe: <%= crop.ripe_on.strftime("%b %d %Y") %></h6>
              <% end %>
              <% if crop.about_to_expire?  %>
                <h6 class="expire"> ABOUT TO EXPIRE! </h6>
              <% else %>
                <h6 class="card-subtitle text-muted">Expires: <%= crop.expires_on.strftime("%b %d %Y") %></h6>
              <% end %>
              <p class="card-text"><%= crop.description %></p>
            </div>
            <button type="button" class="btn btn-success">
              <div><%= link_to 'View Crop', crop.user %></div>
            </button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
