<p id="notice"><%= notice %></p>

<div class="container browse-crops">
  <div class="jumbotron">
    <h1 class="text-center">Browse for Local Crops</h1>
    <p class="text-center">Ditch the supermarket and browse excess crops in your area. </p>
    <button type="button" class="btn btn-success center-block">
      <%=link_to 'Browse Crops Near You', map_path %>
    </button>
  </div>

  <div>
    <div class="row">
      <% @crops.each do |crop| %>
        <div class="col-sm-3">
          <div class="card">
            <% if crop.crop_pic.blank? %>
              <img class="card-img-top" style="width:210;height:210px;" data-src="holder.js/100%x180/"><%= image_tag asset_url ("crop-default-image.png") %>
            <% else%>
              <img class="card-img-top" style="width:210;height:210px;" data-src="holder.js/100%x180/"> <%= image_tag crop.crop_pic.url %></img>
            <% end %>
            <div class="card-block">
              <h4 class="card-title"><%= crop.crop_type.crop_type %> </h4>
              <h6 class="card-subtitle text-muted">Ripe On: <%= crop.ripe_on %></h6>
              <h6 class="card-subtitle text-muted">Expires On: <%= crop.expires_on %></h6>
              <p class="card-text"><%= crop.description %></p>
            </div>
            <div>
              <% if crop.about_to_expire? %>
                <p> ABOUT TO EXPIRE! </p>
              <% elsif crop.is_ripe? %>
                <p> RIPE NOW! </p>
              <% end %>
            </div>
            <button type="button" class="btn btn-success">
              <div class="button-link"><%= link_to 'View Crop', crop %></div>
            </button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
