<p id="notice"><%= notice %></p>

<div class="container">
  <div class="jumbotron">
    <h1>Browse for Local Crops</h1>
    <p class="text-center">Ditch the supermarket and browse excess crops in your area. </p>
  </div>

  <div class="row">
    <% @crops.each do |crop| %>
        <div class="col-sm-3">
          <div class="card">
            <img class="card-img-top" data-src="holder.js/100%x180/"> <%= image_tag crop.crop_pic.url %>
            <div class-"card-block"
              <h4 class="card-title"><%= crop.crop_type.crop_type %> </h4>
              <p class="card-text"><%= crop.description %></p>
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Ripe On: <%= crop.ripe_on %></li>
            <li class="list-group-item">Expires On: <%= crop.expires_on %></li>
            <button type="button" class="btn btn-success">
              <%=link_to 'Propose Swap', new_trade_path %>
              <!-- #(crop_id: crop.id,consumer_id: @current_user.id, grower_id: crop.user_id, trade_type_id: "trade_type_id") %> -->
            </button>
          </ul>
        </div>
    <% end %>
  </div>

</div>
