<div class="container browse-crops">
  <div class="jumbotron browse-jumbotron">
    <div class="header text-center">Browse for Local Crops</div>
    <p class="text-center">Ditch the supermarket and browse excess crops in your area. </p>
    <button type="button" class="btn btn-success center-block">
      <div><%=link_to 'Post A New Crop', new_crop_path %></div>
    </button>
  </div>

  <% if current_user %>
    <%= render 'sort' %>
  <% end %>

  <div>
    <div class="row">
      <% unless @crops.blank? %>
        <% @crops.each do |crop| %>
          <div class="col-sm-3">
            <div class="card">
              <% crop.crop_pic %>
              <div class="card-block">
                <h4 class="card-title"><%= crop.crop_type %> </h4>
                <% if current_user %>
                  <% if crop.wishlisted?(current_user) %>
                    <span class="wishlist-browse wishlist-shared animated wishlisted">♥</span>
                  <% else %>
                    <span class="wishlist-browse wishlist-shared hvr-grow"><%#= link_to "♥", wishlists_path(wishlist: {crop_id: crop.id, user_id: current_user.id}), method: :post, remote: true%></span>
                  <% end %>
                <% end %>
                <% if crop.is_ripe? %>
                  <h6 class="ripe"> RIPE NOW! </h6>
                <% else %>
                  <h6 class="card-subtitle text-muted">Ripe in <%= crop.ripe_in %></h6>
                <% end %>
                <% if crop.about_to_expire?  %>
                  <h6 class="card-subtitle expire">Expires in <%= crop.expires_in %></h6>
                <% else %>
                  <h6 class="card-subtitle text-muted">Expires in <%= crop.expires_in %></h6>
                <% end %>
                <h6 class="card-subtitle text-muted">Posted <%= crop.created_at %> ago</h6>
                <h6><%= crop.user.zip_code %></h6>
                <p class="card-text"><%= crop.description %></p>
              </div>
              <button type="button" class="btn btn-success">
                <div><%= link_to 'View Crop', crop.user %></div>
              </button>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <% if current_user %>
      <%#= paginate @crops %>
    <% end %>
  </div>
