<p id="notice"><%= notice %></p>

<div class="container browse-crops">
  <div class="jumbotron browse-jumbotron">
    <div class="header text-center">View Your Crop Wishlist</div>
    <p class="text-center">Learn more about any crop and propose a trade!</p>
    <button type="button" class="btn btn-success center-block">
      <div><%=link_to 'Browse Crops', crops_path %></div>
    </button>
  </div>
</div>


    <% @wishlists.each do |wishlist| %>
        <td><%= wishlist.user_id %></td>
        <td><%= wishlist.crop_id %></td>
        <td><%= link_to 'Show', wishlist %></td>
        <td><%= link_to 'Edit', edit_wishlist_path(wishlist) %></td>
    <% end %>
