<div class="container">

<%= form_for(@trade) do |f| %>
  <% if @trade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trade.errors.count, "error") %> prohibited this trade from being saved:</h2>
      <ul>
      <% @trade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if params[:accepted] %>
    <br>
    <div class="jumbotron">
      <div class="header text-center">Act On This Swap</div>
      <p class="text-center">Let the grower of your crop know what you're willing to swap.</p>
    </div>
    <br>
    <br>
    <p><strong>Swap type: </strong><%= @trade.trade_type.name %></p>
    <p><strong>Crop: </strong><%= @trade.crop.crop_type.crop_type %></p>
    <p><strong>Consumer: </strong><%= @trade.consumer.name %></p>
    <p><strong>Message: </strong><%= @trade.message %></p>
    <%= f.hidden_field :accepted, value: params[:accepted] %>
    <div class="row crop-form-label">
      <div class="form-group">
        <%= f.label :message_response, "Response" %><br>
        <%= f.text_area :message_response %>
      </div>
    </div>
    <div class="actions crop-form-label">
      <%= f.submit %>
    </div>

  <% else %>
    <br>
    <div class="jumbotron">
      <div class="header text-center">Propose a Swap</div>
      <p class="text-center">Let the grower of your crop know what you're willing to swap.</p>
    </div>
    <br>
    <br>

    <div class="row crop-form-label">
      <% @trade.crop.trade_types.each do |tt| %>
        <%= f.label :trade_type_id, "#{tt.name}" %>
          <% if tt.id == 1 %>
            <span class="glyphicon glyphicon-apple" aria-hidden="true"></span>
          <% elsif tt.id == 2 %>
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
          <% else%>
            <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
          <% end %>
        <%= f.radio_button :trade_type_id, tt.id %>
      <% end %>
    </div>
    <div class="row crop-form-label">
      <div class="form-group crop-pic">
        <%= f.label :crop_pic, "Crop Pic:", class: "col-md-2 control-label crop-pic"%> <br>
        <div class="col-md-8">
          <%= f.file_field :crop_pic %>
        </div>
      </div>
    </div>
    <div class="row crop-form-label">
      <div class="form-group crop-description">
        <%= f.label :message, "Message:", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= f.text_area :message, class: "crop-description form-control" %>
        </div>
      </div>
    </div>
    <%= f.hidden_field :crop_id, value: params[:crop_id] %>
    <%= f.hidden_field :consumer_id, value: params[:consumer_id]  %>
    <%= f.hidden_field :grower_id, value: params[:grower_id]  %>
    <div class="actions crop-form-label">
      <%= f.submit %>
    </div>

  <% end %>

<% end %>
<%= link_to 'Back', trades_path %>

</div>
