<%= form_for(@trade) do |f| %>
  <% if @trade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trade.errors.count, "error") %> prohibited this trade from being saved:</h2>

      <ul>
      <% @trade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if params[:accepted] %>
    <p><strong>Swap type:</strong><%= @trade.trade_type_id %></p>
    <p><strong>Crop:</strong><%= @trade.crop_id %></p>
    <p><strong>Consumer:</strong><%= @trade.consumer_id %></p>
    <p><strong>Message:</strong><%= @trade.message %></p>
    <%= f.hidden_field :accepted, value: params[:accepted] %>
    <div class="form-group">
      <%= f.label :message_response, "Response" %><br>
      <%= f.text_area :message_response %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% else %>
    <div class="form-group" id="trade_type">
      <%= f.label :trade_type_id %><br>
      <%= f.number_field :trade_type_id %>
    </div>
    <div class="form-group" id="crop_pic">
      <%= f.label :crop_pic %><br>
      <%= f.file_field :crop_pic %>
    </div>
      <%= f.hidden_field :crop_id, value: params[:crop_id] %>
      <%= f.hidden_field :consumer_id, value: params[:consumer_id]  %>
      <%= f.hidden_field :trade_type_id, value: params[:trade_type_id]  %>
      <%= f.hidden_field :grower_id, value: params[:grower_id]  %>
    <div class="form-group">
      <%= f.label :message %><br>
      <%= f.text_area :message %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<% end %>
