<%= form_for(@trade) do |f| %>
  <% if @trade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trade.errors.count, "error") %> prohibited this trade from being saved:</h2>

      <ul>
      <% @trade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :trade_type_id %><br>
    <%= f.number_field :trade_type_id %>
  </div>
  <div class="form-group">
    <%= f.label :crop_pic %><br>
    <%= f.file_field :crop_pic %>
  </div>
  <%= f.hidden_field :crop_id %>
  <%= f.hidden_field :consumer_id %>
  <div class="form-group">
    <%= f.label :message %><br>
    <%= f.text_area :message %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
