<%= form_for(@trade) do |f| %>
  <% if @trade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trade.errors.count, "error") %> prohibited this trade from being saved:</h2>

      <ul>
      <% @trade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- <div class="form-group">
    <%#= f.label :trade_type_id, "Trade Type:", class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%#= f.collection_select :trade_type_id, TradeType.all, :id, :trade_type, class: "form-control" %>
    </div>
  </div> -->
  <div class="field">
    <%= f.label :trade_type_id %><br>
    <%= f.number_field :trade_type_id %>
  </div>
  <div class="field">
    <%= f.label :crop_id %><br>
    <%= f.number_field :crop_id %>
  </div>
  <div class="field">
    <%= f.label :consumer_id %><br>
    <%= f.number_field :consumer_id %>
  </div>
  <div class="field">
    <%= f.label :accepted %><br>
    <%= f.check_box :accepted %>
  </div>
  <div class="field">
    <%= f.label :message %><br>
    <%= f.text_area :message %>
  </div>
  <div class="field">
    <%= f.label :message_response %><br>
    <%= f.text_area :message_response %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
