<p id="notice"><%= notice %></p>

<div class="container browse-crops">
  <div class="jumbotron">
    <div class="header text-center">Trade History</div>
    <p class="text-center">Check our your past accepted or rejected trades.</p>
    <button type="button" class="btn btn-success center-block">
      <div><%=link_to 'Browse Crops', crops_path %></div>
    </button>
  </div>

  <div class="row">
    <div class="col-md-12">
      <% if @trades.blank?%>
          <h4> You do not have any past trades.</h4>
          <button type="button" class="btn btn-warning">
            <%=link_to 'Browse Crops', crops_path%>
          </button>
    </div>
      <% else %>
        <div class="col-md-3">
          <h3> Accepted Trades </h3>
          <% @trades.each do |trade| %>
            <% if trade.accepted == true %>
              <% if trade.crop.crop_pic.blank? %>
                <div class="crop_name panel-body"><%= image_tag asset_url("crop-default-image.png") %></div>
              <% else %>
                <div class="crop_name panel-body"><%= image_tag trade.crop.crop_pic.url %></div>
              <% end %>
        </div>
              <div class="col-md-9">
                <h3><%=trade.crop.crop_type.crop_type%></h3>
                <div class="crop-description"> <%= trade.crop.description %></div>
                <h4>Swap Accepted on <%=trade.created_at.strftime("%b %d %Y") %></h4>
                <p>Swap Type: <%= trade.trade_type.name %></p>
                <p>Consumer: <%= trade.consumer.name %></p>
                <p>Grower: <%= trade.crop.user.name %></p>
                <p>Message: <%= trade.message %></p>
                <p>Response: <%= trade.message_response %></p>
              </div>
            <% end %>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h3> Rejected Trades </h3>
        <% if trade.accepted == false %>
          <% if trade.crop.crop_pic.blank? %>
            <div class="crop_name panel-body"><%= image_tag asset_url("crop-default-image.png") %></div>
          <% else %>
            <div class="crop_name panel-body"><%= image_tag trade.crop.crop_pic.url %></div>
          <% end %>
    </div>
        <div class="col-md-9">
          <h3><%=trade.crop.crop_type.crop_type%></h3>
          <div class="crop-description"> <%= trade.crop.description %></div>
          <h4>Swap Rejected on <%=trade.created_at.strftime("%b %d %Y") %></h4>
          <p>Swap Type: <%= trade.trade_type.name %></p>
          <p>Consumer: <%= trade.consumer.name %></p>
          <p>Grower: <%= trade.crop.user.name %></p>
          <p>Message: <%= trade.message %></p>
          <p>Response: <%= trade.message_response %></p>
        </div>  
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
