<p id="notice"><%= notice %></p>

<div class="container">
  <div class="jumbotron">
    <h1>Trades</h1>
    <p class="text-center">The Status of Your Trades</p>
  </div>

<div class="row">
  <div class="col-md-4">
    <h3> Pending Trades </h3>
    </div>
    <div class="col-md-8">
      <% @trades.each do |trade| %>
        <% if trade.accepted != true && trade.accepted != false %>
          <p>Swap Type: <%= trade.trade_type_id %></p>
          <p>Consumer: <%= trade.consumer_id %></p>
          <p>Message: <%= trade.message %></p>
          <p>Crop Type: <%= trade.crop.crop_type.crop_type %></p>
          <p>Crop Description: <%= trade.crop.description %></p>
          <p>Weight: <%= trade.crop.weight %></p>
          <p>Ripe On: <%= trade.crop.ripe_on %></p>
          <p>Expires On: <%= trade.crop.expires_on %></p>
          <p><%= link_to 'Edit', edit_trade_path(trade) %></p>
        <% end %>
      <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3> Accepted Trades </h3>
  </div>
  <div class="col-md-8">
    <% @trades.each do |trade| %>
      <% if trade.accepted == true %>
        <p>Swap Type: <%= trade.trade_type_id %></p>
        <p>Consumer: <%= trade.consumer_id %></p>
        <p>Message: <%= trade.message %></p>
        <p>Response: <%= trade.message_response %></p>
        <p>Crop Type: <%= trade.crop.crop_type.crop_type %></p>
        <p>Crop Description: <%= trade.crop.description %></p>
        <p>Weight: <%= trade.crop.weight %></p>
        <p>Ripe On: <%= trade.crop.ripe_on %></p>
        <p>Expires On: <%= trade.crop.expires_on %></p>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3> Rejected Trades </h3>
  </div>
  <div class="col-md-8">
    <% @trades.each do |trade| %>
      <% if trade.accepted == false %>
        <p>Swap Type: <%= trade.trade_type_id %></p>
        <p>Consumer: <%= trade.consumer_id %></p>
        <p>Message: <%= trade.message %></p>
        <p>Response: <%= trade.message_response %></p>
        <p>Crop Type: <%= trade.crop.crop_type.crop_type %></p>
        <p>Crop Description: <%= trade.crop.description %></p>
        <p>Weight: <%= trade.crop.weight %></p>
        <p>Ripe On: <%= trade.crop.ripe_on %></p>
        <p>Expires On: <%= trade.crop.expires_on %></p>
      <% end %>
    <% end %>
  </div>
</div>

</div>
</div>
