<p id="notice"><%= notice %></p>

<% @trades.each do |trade| %>
  <% if trade.accepted != true %>
    <h3> Pending Trades </h3>
      <table>
        <thead>
          <tr>
            <th>Trade type</th>
            <th>Crop</th>
            <th>Consumer</th>
            <th>Accepted</th>
            <th>Message</th>
            <th>Message response</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= trade.trade_type_id %></td>
            <td><%= trade.crop_id %></td>
            <td><%= trade.consumer_id %></td>
            <td><%= trade.accepted %></td>
            <td><%= trade.message %></td>
            <td><%= trade.message_response %></td>
            <td><%= trade.crop.crop_type.crop_type %></td>
            <td><%= trade.crop.description %></td>
            <td><%= trade.crop.weight %></td>
            <td><%= trade.crop.ripe_on %></td>
            <td><%= trade.crop.expires_on %></td>
            <td><%= link_to 'Edit', edit_trade_path(trade) %></td>
          </tr>
        </tbody>
    </table>
  <% end %>
<% end %>

<% @trades.each do |trade| %>
  <% if trade.accepted == true %>
    <h3> Accepted Trades </h3>
      <table>
        <thead>
          <tr>
            <th>Trade type</th>
            <th>Crop</th>
            <th>Consumer</th>
            <th>Accepted</th>
            <th>Message</th>
            <th>Message response</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= trade.trade_type_id %></td>
            <td><%= trade.crop_id %></td>
            <td><%= trade.consumer_id %></td>
            <td><%= trade.accepted %></td>
            <td><%= trade.message %></td>
            <td><%= trade.message_response %></td>
            <td><%= trade.crop.crop_type.crop_type %></td>
            <td><%= trade.crop.description %></td>
            <td><%= trade.crop.weight %></td>
            <td><%= trade.crop.ripe_on %></td>
            <td><%= trade.crop.expires_on %></td>
          </tr>
        </tbody>
    </table>
  <% end %>
<% end %>

<% @trades.each do |trade| %>
  <% if trade.accepted == false %>
    <h3> Rejected Trades </h3>
      <table>
        <thead>
          <tr>
            <th>Trade type</th>
            <th>Crop</th>
            <th>Consumer</th>
            <th>Accepted</th>
            <th>Message</th>
            <th>Message response</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= trade.trade_type_id %></td>
            <td><%= trade.crop_id %></td>
            <td><%= trade.consumer_id %></td>
            <td><%= trade.accepted %></td>
            <td><%= trade.message %></td>
            <td><%= trade.message_response %></td>
            <td><%= trade.crop.crop_type.crop_type %></td>
            <td><%= trade.crop.description %></td>
            <td><%= trade.crop.weight %></td>
            <td><%= trade.crop.ripe_on %></td>
            <td><%= trade.crop.expires_on %></td>
          </tr>
        </tbody>
    </table>
  <% end %>
<% end %>
