<div class="container">
  <nav class="navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="<%= crops_path %>"><%= image_tag asset_url ("cropswap-logo.png") %></a>
      </div>
        <div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="<%= @current_user %>">Profile</a></li>
            <li><a href="<%= new_crop_path %>">Post A Crop</a></li>
            <li><a href="<%= crops_path %>">Browse Crops</a></li>
          </ul>
      <!-- <div class="crops-btn btn-group">
        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true">
          CROPS <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#/">Post a Crop</a></li>
          <li><a href="#/">Trade a Crop</a></li>
        </ul>
      </div> -->

            <% if session[:user_id]%>
              <span class="navbar-right"><%= link_to 'Logout', session_destroy_path, method: :delete, class: "nav-text"%></span>
            <% else %>
              <span class="navbar-right"> <%= link_to "Log in", session_new_path, class: "nav-text" %> </span>
            <% end %>
        </div>
    </div>
  </nav>

</div>
