<div class="container">

  <nav class="navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="<%= crops_path %>"><%= image_tag asset_url ("cropswap-logo.png") %></a>
      </div>

      <div>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "My Profile", @current_user, class: "nav-a" %></li>
          <li><%= link_to "Post A Crop", new_crop_path, class: "nav-a" %></li>
          <li><%= link_to "Browse Crops", crops_path, class: "nav-a" %></li>
          <li><a class="wishlist-nav" href="/wishlists"><span class="glyphicon glyphicon-heart"></span></a></li>
        <% if session[:user_id]%>
          <span class="navbar-right nav-link"><%= link_to 'Logout', session_destroy_path, method: :delete, class: "nav-text"%></span>
        </ul>
        <% else %>
          <span class="navbar-right nav-link"> <%= link_to "Log in", session_new_path, class: "nav-text" %> </span>
        </ul>
        <% end %>
      </div>
    </div>
  </nav>

</div>
